.grid {
  margin: auto;
}

.row {
  display: flex;
}

.start-node {
  background-color: greenyellow;
}

.finish-node {
  background-color: red;
}

.visited-node {
  background-color: rgb(0, 102, 255);
}

.shortest-path {
  background-color: rgb(255, 230, 0);
}

.node {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  margin: 1px;
  padding: 1px;
}
